

h1{
color:red;
text-align:center;
}
body{
display:flex;
flex-wrap:wrap;

}
.container{
width:40%;
flex:1;
height:50vh;
position:relative;
margin:5rem auto;
display:flex;
flex-direction:column;
justify-content:space-between;
align-items:center;
background:#222;
}

.img-container{
position:relative;
width:50%;
height:50%;
align-items:center;
text-align:center;
}

#img{
width:12rem;
height:100%;
position:relative;
margin: auto;
}
.buttons{
position:relative;
display:flex;
flex-direction:row;
justify-content:space-around;
align-items:center;
width:100%;
height:4rem;
}

.save-image-container{
 border:1px solid red ;
 position:relative;
 width:50%;
 height:100vh;
}

.saved-image{

	border:1px solid red ;

}

