*{
    margin: 0%;
    padding: 0%;
    direction: rtl;
}

#root{
    border: 1px solid red ;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Login{
    border: 1px solid #ccc;
    border-radius: 12px;
    padding-left: 6px;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
}
fieldset{
    width: 30%;
    height: 3rem;
    border: none;
    margin-right: 1rem;
}
input{
    height: 2rem;
    padding-right: 1rem;
}
#submit{
    width: 30%;
    height: 3rem;
    font-size: 2rem;
    margin-right: 1rem;
}
