*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: cursive;
}

.container{
    border:none;
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #070F2B;
}

.sign_in{
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}

.header{
    
    width: 100%;
    height: 3rem;
    text-align: center;
    align-items: center;
}
.header h1{
    color: #9290C3;
}



.sign_in_form{

    border-radius: 22px;
    height: 80%;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #535C91;
    box-shadow: 0px 0px 5px 1px #9290C3;
}

.user_input{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
label{
    font-size: 1rem;
    color: #070F2B;
    font-weight: bold;
    text-align: left !important;
    width: 100%;
    padding-left: 1rem;
    padding-bottom: .5rem;
}

.user_input input{
    border-radius:8px;
    border: none;
    color: #070F2B;
    font-size: 1rem;
    padding-left: 1rem;
    height: 2rem !important;
    width: 90%;
}

.input{
    height: 2rem;
    font-size: 1rem;
    padding-left: 1rem;
    color: #fff;
}

.submit{

  
    width: 100%;
    position: relative;
}
.submit .input_sumit{
    width: 90%;
    height: 2rem;
    color: #070F2B;
    border-radius: 8px;
    margin: 1rem;
    outline: none;
    border: none;
    transition: all .3s ease;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}
.input_sumit:hover{
  
    background-color: #070F2B;
    color: #fff;
}