*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

.icon-bar{
    border: none;
    height: 3rem;
    width: 300px;
    position: relative;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    background-color: #3F4E4F;
    transition: all 0.1s ease-in-out;
}
.bar-item{
    list-style-type:none ;
    width: 5rem;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: none ;
    transition: all 0.2s ease;
}
.bar-link{
    text-decoration: none;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #fff;
}
.bar-item:hover{
    background-color: black;
    color: #fff;
}
.active{
    background-color: #367E18;
    color: #fff;
}
.menu-button{
    display: inline-block;
    cursor: pointer;
  
    position: absolute;
    top: 0%;
    right: 10%;
}

.bar1 , .bar2 , .bar3{
    width: 30px;
    height: 5px;
    background-color: #3F4E4F;
    margin:  6px 0;
    transition: 0.3s;
}


.change .bar1{
    transform:  translate(0 , 11px) rotate(-45deg);
}

.change .bar2{
    opacity: 0;
}

.change .bar3{
    transform:  translate(0,-11px) rotate(45deg);
}

.drowpdown{
    border: none;
    width: 4rem;
    position: absolute;
    top: 100%;    
    height: 0;
    flex-direction: column;
    justify-content: space-between;
    background-color: #3F4E4F !important;
    transition: all 0.1s ease-in-out;
}
.drowpdown-item{
    border:none ;
    color: #fff;
    transition: all 0.2s ease;
    height: 3rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.drowpdown-item:hover{
    color: #fff;
    background-color: #367E18;
}





